.start__description__wrapper{
  @include set-center-aligned($align-items: flex-end);
  @include tablet-size() {
    margin-top: 1rem;
  }

  margin-bottom: 1rem;
}

.start__description__icon{
  @include set-box-size(3rem, 3rem, 3rem);

  margin-right: 1em;
  border: 1px solid $point-blue1;
  background-color: wheat;
  background-image: url("../assets/image/cat.png");
  background-size: cover;
  background-position: center;

  &.send{
    visibility: hidden;
  }
}

.start__description__content__wrapper{
  @include tablet-size() {
    width: 70%;
  }
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.start__description__content{
  // background-color: $back-ground-light;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 1rem;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  // color: black;

  &.default {
    background-color: $back-ground-light;
    color: $text-dark1
  }

  &.receive{
    background-color: $back-ground-light2;
    color: $text-dark1;
  }

  &.send {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;
    background-color: $main-color;
    color: $text-light1;
  }

  @include tablet-size() {
    font-size: 0.8rem;
  }
}

.start__description__date{
  color: $text-dark1;

  &.send{
    text-align: right;
  }
}