$main-color: #39B5E0;

$back-ground-light: #FFFFFF;
$back-ground-light2: #F6F1F1;

$text-dark1: #000000;
$text-light1: #FFFFFF;

$point-blue1: #0B2447;
$point-red1: #E63E6D;
$point-yellow1: #F5EA5A;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 660px;
$breakpoint-desktop: 1024px;