* {
  font-family: "NanumBarunpen";
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  font-weight: bold;
}

@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#root {
  width: 100%;
  height: 100%;
}

.start__container {
  height: 100%;
  width: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #39B5E0;
}

.start__title {
  margin: 1em;
  font-size: 3em;
  font-weight: bold;
  color: #FFFFFF;
}

.start__description__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 38em;
}

.start__description__icon {
  height: 3em;
  width: 3em;
  border-radius: 3em;
  border: 1px solid #0B2447;
  background-color: wheat;
  background-image: url("../assets/image/cat.png");
  background-size: cover;
  background-position: center;
}

.start__description__content__wrapper {
  display: flex;
  flex-direction: column;
}

.start__description__content {
  background-color: #FFFFFF;
  white-space: pre-line;
  padding: 1em;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: black;
}

.start__description__date {
  color: #FFFFFF;
}