.footer{
  width: 100%;
  padding: 1rem;
  text-align: left;

  .github__link{
    display: flex;
    align-items: center;
    text-decoration-line: none;
    color: $text-dark1;
    &:hover{
      cursor: pointer;
    }
  }
}

.github__link__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-image: url("../assets/image/github-mark.png");
  background-size: cover;
  background-position: center;
}