.chattingBox__background{
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background:  rgba(0, 0, 0, 0.8);
}

.chattingBox{
  width: 700px;
  height: 500px;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $back-ground-light;
  animation: modal-show 0.3s;
}

@import './ChattingBoxHeader/index';
@import './ChattingBoxForm/index';
@import './ChattingPreview/index'


